################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeyLogger/ThesisKeylogger/ThesisKeylogger/kkrieger.exe
/KeyLogger/ThesisKeylogger/Debug/kkrieger.exe
/KeyLogger/ThesisKeylogger/Debug/Notify.wav
