################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeyLogger/ThesisKeylogger/ThesisKeylogger/kkrieger.exe
/KeyLogger/ThesisKeylogger/Debug/kkrieger.exe
/KeyLogger/ThesisKeylogger/Debug/Notify.wav
/DataExtracter/ThesisDataExtract/bin/Debug/netcoreapp2.1/output
/DataExtracter/ThesisDataExtract/bin/Debug/netcoreapp2.1/input
